<div class="main-footer">
  <div class="container-fluid pd-t-0-f ht-100p">
    Copyright © 2022 <a href="javascript:void(0);" class="text-primary"></a>. 
    <span class="fa fa-heart text-danger"></span> by <a href="javascript:void(0);"> Nhom 8 </a> 
  </div>
</div>