<!-- ec Banner Section Start -->
<section class="ec-banner section section-space-p">
  <h2 class="d-none">Banner</h2>
  <div class="container">
    <!-- ec Banners Start -->
    <div class="ec-banner-inner">
      <!--ec Banner Start -->
      <div class="ec-banner-block ec-banner-block-2">
        <div class="row">
          <div class="banner-block col-lg-6 col-md-12 margin-b-30" data-animation="slideInRight">
            <div class="bnr-overlay">
              <img src="/static/client/images/banner/10.jpg" alt="" />
              <div class="banner-text">
                <span class="ec-banner-stitle">Sản phẩm mới</span>
                <span class="ec-banner-title"
                  >
                  Điện thoại</span
                >
                <span class="ec-banner-discount">Giảm giá lên tới 20%</span>
              </div>
              <div class="banner-content">
                <span class="ec-banner-btn"><a href="/dien-thoai">Đặt mua</a></span>
              </div>
            </div>
          </div>
          <div class="banner-block col-lg-6 col-md-12" data-animation="slideInLeft">
            <div class="bnr-overlay">
              <img src="/static/client/images/banner/11.jpg" alt="" />
              <div class="banner-text">
                <span class="ec-banner-stitle">Xu hướng</span>
                <span class="ec-banner-title"
                  >Đồng hồ<br />
                  thông minh</span
                >
                <span class="ec-banner-discount">Nhiều phần quà đi kèm</span>
              </div>
              <div class="banner-content">
                <span class="ec-banner-btn"><a href="/dong-ho-thong-minh">Đặt mua</a></span>
              </div>
            </div>
          </div>
        </div>
        <!-- ec Banner End -->
      </div>
      <!-- ec Banners End -->
    </div>
  </div>
</section>
<!-- ec Banner Section End -->
