<!-- ec Banner Section Start -->
<section class="ec-banner section section-space-p">
  <h2 class="d-none">Banner</h2>
  <div class="container">
    <!-- ec Banners Start -->
    <div class="ec-banner-inner">
      <!--ec Banner Start -->
      <div class="ec-banner-block ec-banner-block-2">
        <div class="row">
          <div class="banner-block col-lg-6 col-md-12 margin-b-30" data-animation="slideInRight">
            <div class="bnr-overlay">
              <img src="static/images/banner/2.jpg" alt="" />
              <div class="banner-text">
                <span class="ec-banner-stitle">New Arrivals</span>
                <span class="ec-banner-title"
                  >mens<br />
                  Sport shoes</span
                >
                <span class="ec-banner-discount">30% Discount</span>
              </div>
              <div class="banner-content">
                <span class="ec-banner-btn"><a href="#">Order Now</a></span>
              </div>
            </div>
          </div>
          <div class="banner-block col-lg-6 col-md-12" data-animation="slideInLeft">
            <div class="bnr-overlay">
              <img src="static/images/banner/3.jpg" alt="" />
              <div class="banner-text">
                <span class="ec-banner-stitle">New Trending</span>
                <span class="ec-banner-title"
                  >Smart<br />
                  watches</span
                >
                <span class="ec-banner-discount">Buy any 3 Items & get <br />20% Discount</span>
              </div>
              <div class="banner-content">
                <span class="ec-banner-btn"><a href="#">Order Now</a></span>
              </div>
            </div>
          </div>
        </div>
        <!-- ec Banner End -->
      </div>
      <!-- ec Banners End -->
    </div>
  </div>
</section>
<!-- ec Banner Section End -->
