<!-- ekka Cart Start -->
<div class="ec-side-cart-overlay"></div>
<div id="ec-side-cart" class="ec-side-cart">
  <div class="ec-cart-inner">
    <div class="ec-cart-top">
      <div class="ec-cart-title">
        <span class="cart_title">Giỏ hàng</span>
        <button class="ec-close">×</button>
      </div>
      <ul class="eccart-pro-items"></ul>
    </div>
    <div class="ec-cart-bottom">
      <div class="cart-sub-total">
        <table class="table cart-table">
          <tbody>
            <tr>
              <td class="text-left">Tạm tính :</td>
              <td class="text-right" id="t-price">0</td>
            </tr>
            <tr>
              <td class="text-left">VAT (8%) :</td>
              <td class="text-right" id="vat">0</td>
            </tr>
            <tr>
              <td class="text-left">Thành tiền :</td>
              <td class="text-right primary-color" id="price">0</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="cart_btn">
        <a href="/checkout" class="btn btn-secondary">Đặt hàng</a>
      </div>
    </div>
  </div>
</div>
