<!--  Category Section Start -->
<section class="section ec-category-section section-space-p" id="categories">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="section-title">
          <h2 class="ec-bg-title">Our Top Collection</h2>
          <h2 class="ec-title">Top Categories</h2>
          <p class="sub-title">Browse The Collection of Top Categories</p>
        </div>
      </div>
    </div>

    <div class="row">
      <!--Category Nav Start -->
      <div class="col-lg-3">
        <ul class="ec-cat-tab-nav nav">
          <li class="cat-item">
            <a class="cat-link active" data-bs-toggle="tab" href="#tab-cat-1">
              <div class="cat-icons">
                <img class="cat-icon" src="static/client/images/icons/cat_1.png" alt="cat-icon" /><img
                  class="cat-icon-hover"
                  src="static/client/images/icons/cat_1_1.png"
                  alt="cat-icon"
                />
              </div>
              <div class="cat-desc"><span>Clothes</span><span>440 Products</span></div>
            </a>
          </li>
          <li class="cat-item">
            <a class="cat-link" data-bs-toggle="tab" href="#tab-cat-2">
              <div class="cat-icons">
                <img class="cat-icon" src="static/client/images/icons/cat_2.png" alt="cat-icon" /><img
                  class="cat-icon-hover"
                  src="static/client/images/icons/cat_2_1.png"
                  alt="cat-icon"
                />
              </div>
              <div class="cat-desc"><span>Watches</span><span>510 Products</span></div>
            </a>
          </li>
          <li class="cat-item">
            <a class="cat-link" data-bs-toggle="tab" href="#tab-cat-3">
              <div class="cat-icons">
                <img class="cat-icon" src="static/client/images/icons/cat_3.png" alt="cat-icon" /><img
                  class="cat-icon-hover"
                  src="static/client/images/icons/cat_3_1.png"
                  alt="cat-icon"
                />
              </div>
              <div class="cat-desc"><span>Bags</span><span>620 Products</span></div>
            </a>
          </li>
          <li class="cat-item">
            <a class="cat-link" data-bs-toggle="tab" href="#tab-cat-4">
              <div class="cat-icons">
                <img class="cat-icon" src="static/client/images/icons/cat_4.png" alt="cat-icon" /><img
                  class="cat-icon-hover"
                  src="static/client/images/icons/cat_4_1.png"
                  alt="cat-icon"
                />
              </div>
              <div class="cat-desc"><span>Shoes</span><span>320 Products</span></div>
            </a>
          </li>
        </ul>
      </div>
      <!-- Category Nav End -->
      <!--Category Tab Start -->
      <div class="col-lg-9">
        <div class="tab-content">
          <!-- 1st Category tab end -->
          <div class="tab-pane fade show active" id="tab-cat-1">
            <div class="row">
              <img src="static/client/images/cat-banner/1.jpg" alt="" />
            </div>
            <span class="panel-overlay">
              <a href="shop-left-sidebar-col-3.html" class="btn btn-primary">View All</a>
            </span>
          </div>
          <!-- 1st Category tab end -->
          <div class="tab-pane fade" id="tab-cat-2">
            <div class="row">
              <img src="static/client/images/cat-banner/2.jpg" alt="" />
            </div>
            <span class="panel-overlay">
              <a href="shop-left-sidebar-col-3.html" class="btn btn-primary">View All</a>
            </span>
          </div>
          <!-- 2nd Category tab end -->
          <!-- 3rd Category tab start -->
          <div class="tab-pane fade" id="tab-cat-3">
            <div class="row">
              <img src="static/client/images/cat-banner/3.jpg" alt="" />
            </div>
            <span class="panel-overlay">
              <a href="shop-left-sidebar-col-3.html" class="btn btn-primary">View All</a>
            </span>
          </div>
          <!-- 3rd Category tab end -->
          <!-- 4th Category tab start -->
          <div class="tab-pane fade" id="tab-cat-4">
            <div class="row">
              <img src="static/client/images/cat-banner/4.jpg" alt="" />
            </div>
            <span class="panel-overlay">
              <a href="shop-left-sidebar-col-3.html" class="btn btn-primary">View All</a>
            </span>
          </div>
          <!-- 4th Category tab end -->
        </div>
        <!-- Category Tab End -->
      </div>
    </div>
  </div>
</section>
<!-- Category Section End -->
