<meta charset="UTF-8" />
<meta http-equiv="x-ua-compatible" content="ie=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />

<title>BTL Nhóm 8</title>
<meta
  name="keywords"
  content="apparel, catalog, clean, ecommerce, ecommerce HTML, electronics, fashion, html eCommerce, html store, minimal, multipurpose, multipurpose ecommerce, online store, responsive ecommerce template, shops"
/>
<meta name="description" content="Shop bán đồ công nghệ - Nhóm 8 HTTT02" />
<meta name="author" content="Nhóm 8" />

<!-- site Favicon -->
<link rel="icon" href="/static/client/images/favicon/favicon.png" sizes="32x32" />
<link rel="apple-touch-icon" href="/static/client/images/favicon/favicon.png" />
<meta name="msapplication-TileImage" content="/static/client/images/favicon/favicon.png" />

<!-- css Icon Font -->
<link rel="stylesheet" href="/static/client/css/vendor/ecicons.min.css" />

<!-- css All Plugins Files -->
<link rel="stylesheet" href="/static/client/css/plugins/animate.css" />
<link rel="stylesheet" href="/static/client/css/plugins/swiper-bundle.min.css" />
<link rel="stylesheet" href="/static/client/css/plugins/jquery-ui.min.css" />
<link rel="stylesheet" href="/static/client/css/plugins/countdownTimer.css" />
<link rel="stylesheet" href="/static/client/css/plugins/slick.min.css" />
<link rel="stylesheet" href="/static/client/css/plugins/nouislider.css" />
<link rel="stylesheet" href="/static/client/css/plugins/bootstrap.css" />

<!-- Main Style -->
<link rel="stylesheet" href="/static/client/css/style.css" />

<link rel="stylesheet" href="/static/client/css/responsive.css" />

<!-- Background css -->
<link rel="stylesheet" id="bg-switcher-css" href="/static/client/css/backgrounds/bg-4.css" />

<style>
  .result-search {
    position: absolute;
    left: 0;
    right: 0;
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 6px 0px;

    top: 100%;
    background-color: #f7f7f7;
    color: black;
    z-index: 999;
    display: none;
  }

  .result-search li {
    padding: 5px 0 5px 16px;
  }

  .result-search {
    position: absolute;
    left: 0;
    right: 0;
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 6px 0px;

    top: 100%;
    background-color: #f7f7f7;
    color: black;
    z-index: 999;
    display: none;
  }

  .result-search-mobi {
    padding: 7px 0 7px 0;
  }
</style>
