<!-- ec testmonial Start -->
<section class="section ec-test-section section-space-ptb-100 section-space-m" id="reviews">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="section-title mb-0">
          <h2 class="ec-bg-title">Testimonial</h2>
          <h2 class="ec-title">Khách hàng nói gì về chúng tôi</h2>
          <!-- <p class="sub-title mb-3">What say client about us</p> -->
        </div>
      </div>
    </div>
    <div class="row">
      <div class="ec-test-outer">
        <ul id="ec-testimonial-slider">
          <li class="ec-test-item">
            <img src="/static/client/images/testimonial/top-quotes.svg" class="svg_img test_svg top" alt="" />
            <div class="ec-test-inner">
              <div class="ec-test-img">
                <img alt="testimonial" title="testimonial" src="/static/client/images/testimonial/1.jpg" />
              </div>
              <div class="ec-test-content">
                <div class="ec-test-desc">
                  Shoptech còn đem lại những trải nghiệm mới mẻ, sáng tạo và hữu ích cho khách hàng khi truy cập , hầu như
                  các khách hàng sau khi sử dụng các tính năng website đem lại đều hài lòng
                </div>
                <div class="ec-test-name">Thanh Hương</div>
                <div class="ec-test-designation">Quản lý dự án</div>
                <div class="ec-test-rating">
                  <i class="ecicon eci-star fill"></i>
                  <i class="ecicon eci-star fill"></i>
                  <i class="ecicon eci-star fill"></i>
                  <i class="ecicon eci-star fill"></i>
                  <i class="ecicon eci-star fill"></i>
                </div>
              </div>
            </div>
            <img src="/static/client/images/testimonial/bottom-quotes.svg" class="svg_img test_svg bottom" alt="" />
          </li>
          <li class="ec-test-item">
            <img src="/static/client/images/testimonial/top-quotes.svg" class="svg_img test_svg top" alt="" />
            <div class="ec-test-inner">
              <div class="ec-test-img">
                <img alt="testimonial" title="testimonial" src="/static/client/images/testimonial/2.jpg" />
              </div>
              <div class="ec-test-content">
                <div class="ec-test-desc">
                  ShopTech mang đến giao diện ưa nhìn , dễ chịu cho khách hàng, sản phẩm trên website cung cấp đều uy tín và
                  chất lượng tốt .Tỷ lệ khách hàng quay lại website mua hàng đạt ở mức cao
                </div>
                <div class="ec-test-name">Nguyễn Hoa</div>
                <div class="ec-test-designation">Người mẫu</div>
                <div class="ec-test-rating">
                  <i class="ecicon eci-star fill"></i>
                  <i class="ecicon eci-star fill"></i>
                  <i class="ecicon eci-star fill"></i>
                  <i class="ecicon eci-star fill"></i>
                  <i class="ecicon eci-star fill"></i>
                </div>
              </div>
            </div>
            <img src="/static/client/images/testimonial/bottom-quotes.svg" class="svg_img test_svg bottom" alt="" />
          </li>
          <li class="ec-test-item">
            <img src="/static/client/images/testimonial/top-quotes.svg" class="svg_img test_svg top" alt="" />
            <div class="ec-test-inner">
              <div class="ec-test-img">
                <img alt="testimonial" title="testimonial" src="/static/client/images/testimonial/3.jpg" />
              </div>
              <div class="ec-test-content">
                <div class="ec-test-desc">
                  Các dịch vụ trên ShopTech đều chỉnh chu, an toàn và nhanh chóng. Khách hàng không cần phải chờ quá lâu để thanh toán được một đơn hàng mong muốn.
                </div>
                <div class="ec-test-name">Việt Hoàng</div>
                <div class="ec-test-designation">Lập trình viên</div>
                <div class="ec-test-rating">
                  <i class="ecicon eci-star fill"></i>
                  <i class="ecicon eci-star fill"></i>
                  <i class="ecicon eci-star fill"></i>
                  <i class="ecicon eci-star fill"></i>
                  <i class="ecicon eci-star fill"></i>
                </div>
              </div>
            </div>
            <img src="/static/client/images/testimonial/bottom-quotes.svg" class="svg_img test_svg bottom" alt="" />
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- ec testmonial end -->
