<!--  services Section Start -->
<section class="section ec-services-section section-space-p" id="services">
  <h2 class="d-none">Services</h2>
  <div class="container">
    <div class="row">
      <div class="ec_ser_content ec_ser_content_1 col-sm-12 col-md-6 col-lg-3" data-animation="zoomIn">
        <div class="ec_ser_inner">
          <div class="ec-service-image">
            <img src="/static/client/images/icons/service_1.svg" class="svg_img" alt="" />
          </div>
          <div class="ec-service-desc">
            <h2>Miễn phí vận chuyển</h2>
            <p>Chúng tôi miễn phí tất cả phí vận chuyển</p>
          </div>
        </div>
      </div>
      <div class="ec_ser_content ec_ser_content_2 col-sm-12 col-md-6 col-lg-3" data-animation="zoomIn">
        <div class="ec_ser_inner">
          <div class="ec-service-image">
            <img src="/static/client/images/icons/service_2.svg" class="svg_img" alt="" />
          </div>
          <div class="ec-service-desc">
            <h2>Hỗ trợ 24/7</h2>
            <p>Hỗ trợ 24h 1 ngày, 7 ngày 1 tuần</p>
          </div>
        </div>
      </div>
      <div class="ec_ser_content ec_ser_content_3 col-sm-12 col-md-6 col-lg-3" data-animation="zoomIn">
        <div class="ec_ser_inner">
          <div class="ec-service-image">
            <img src="/static/client/images/icons/service_3.svg" class="svg_img" alt="" />
          </div>
          <div class="ec-service-desc">
            <h2>Chính sách hoàn trả</h2>
            <p>Chúng tôi cho phép khách hàng hoàn trả đơn hàng không hài lòng trong vòng 30 ngày</p>
          </div>
        </div>
      </div>
      <div class="ec_ser_content ec_ser_content_4 col-sm-12 col-md-6 col-lg-3" data-animation="zoomIn">
        <div class="ec_ser_inner">
          <div class="ec-service-image">
            <img src="/static/client/images/icons/service_4.svg" class="svg_img" alt="" />
          </div>
          <div class="ec-service-desc">
            <h2>Thanh toán an toàn</h2>
            <p>Thông tin thanh toán của bạn sẽ được bảo mật</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--services Section End -->
