<!-- Ec breadcrumb start -->
<div class="sticky-header-next-sec ec-breadcrumb section-space-mb">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="row ec_breadcrumb_inner">
          <div class="col-md-6 col-sm-12">
            <h2 class="ec-breadcrumb-title">Shop</h2>
          </div>
          <div class="col-md-6 col-sm-12">
            <!-- ec-breadcrumb-list start -->
            <ul class="ec-breadcrumb-list">
              <li class="ec-breadcrumb-item"><a href="index.html">Home</a></li>
              <li class="ec-breadcrumb-item active">Shop</li>
            </ul>
            <!-- ec-breadcrumb-list end -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Ec breadcrumb end -->

<!-- Page detail section -->
<section class="ec-bnr-detail margin-bottom-30 section-space-pt">
  <div class="ec-page-detail">
    <div class="container">
      <div class="ec-main-heading d-none">
        <h2>Shop <span>Detail</span></h2>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="ec-cat-bnr">
            <a href="product-left-sidebar.html"><span></span></a>
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="ec-page-description">
            <h6>The Best deal on top brands</h6>
            <p class="m-0">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
              standard dummy text ever since the 1500s. It has survived not only five centuries, but also the leap into
              electronic typesetting, remaining essentially unchanged.
            </p>

            <p></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End detail section -->
