<html lang="en" style="--primary02: rgba(56, 202, 179, 0.2); --primary05: rgba(56, 202, 179, 0.5)">
  <head>
    <style data-styles="">
      ion-icon {
        visibility: hidden;
      }
      .hydrated {
        visibility: inherit;
      }
    </style>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="Description" content="Bootstrap Responsive Admin Web Dashboard HTML5 Template" />
    <meta name="Author" content="Spruko Technologies Private Limited" />
    <meta
      name="Keywords"
      content="admin,admin dashboard,admin dashboard template,admin panel template,admin template,admin theme,bootstrap 4 admin template,bootstrap 4 dashboard,bootstrap admin,bootstrap admin dashboard,bootstrap admin panel,bootstrap admin template,bootstrap admin theme,bootstrap dashboard,bootstrap form template,bootstrap panel,bootstrap ui kit,dashboard bootstrap 4,dashboard design,dashboard html,dashboard template,dashboard ui kit,envato templates,flat ui,html,html and css templates,html dashboard template,html5,jquery html,premium,premium quality,sidebar bootstrap 4,template admin bootstrap 4"
    />
    <!-- Title -->
    <title>Đăng nhập hệ thống quản lý</title>
    <!-- Favicon -->
    <link rel="icon" href="/static/admin/img/brand/favicon.png" type="image/x-icon" />
    <!-- Icons css -->
    <link href="/static/admin/css/icons.css" rel="stylesheet" />
    <!--  bootstrap css-->
    <link href="/static/admin/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!--  Right-sidemenu css -->
    <link href="/static/admin/plugins/sidebar/sidebar.css" rel="stylesheet" />
    <!-- P-scroll bar css-->
    <!-- <link href="/static/admin/plugins/perfect-scrollbar/p-scrollbar.css" rel="stylesheet" /> -->
    <!--- Style css --->
    <link href="/static/admin/css/style.css" rel="stylesheet" />
    <link href="/static/admin/css/style-dark.css" rel="stylesheet" />
    <link href="/static/admin/css/style-transparent.css" rel="stylesheet" />
    <!---Skinmodes css-->
    <link href="/static/admin/css/skin-modes.css" rel="stylesheet" />
    <!--- Animations css-->
    <link href="/static/admin/css/animate.css" rel="stylesheet" />
    <!-- INTERNAL Switcher css -->
    <!-- <link href="/static/admin/switcher/css/switcher.css" rel="stylesheet" /> -->
    <!-- <link href="/static/admin/switcher/demo.css" rel="stylesheet" /> -->

    <meta http-equiv="imagetoolbar" content="no" />  
  </head>
  <body class="ltr error-page1 bg-primary">
    <!-- Loader -->
    <div id="global-loader" style="display: none">
      <img src="/static/admin/img/loader.svg" class="loader-img" alt="Loader" />
    </div>
    <!-- /Loader -->
    <div class="square-box">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    <div class="page">
      <div class="page-single">
        <div class="container">
          <div class="row">
            <div
              class="
                col-xl-5 col-lg-6 col-md-8 col-sm-8 col-xs-10
                card-sigin-main
                mx-auto
                my-auto
                py-4
                justify-content-center
              "
            >
              <div class="card-sigin">
                <!-- Demo content-->
                <div class="main-card-signin d-md-flex">
                  <div class="wd-100p">
                    <div class="d-flex mb-4">
                      <a href="index.html"
                        ><img src="/static/admin/img/brand/favicon.png" class="sign-favicon ht-40" alt="logo"
                      /></a>
                    </div>
                    <div class="">
                      <div class="main-signup-header">
                        <h2>Welcome back!</h2>
                        <h6 class="font-weight-semibold mb-4">Please sign in to continue.</h6>
                        <div class="panel panel-primary">
                          <div class="tab-menu-heading mb-2 border-bottom-0">
                            <div class="tabs-menu1">
                              <ul class="nav panel-tabs">
                                <li class="me-2">
                                  <a href="#tab5" class="active" data-bs-toggle="tab">Email</a>
                                </li>
                                <li>
                                  <a href="#tab6" data-bs-toggle="tab" class="">Mobile no</a>
                                </li>
                              </ul>
                            </div>
                          </div>
                          <div class="panel-body tabs-menu-body border-0 p-3">
                            <div class="tab-content">
                              <div class="tab-pane active form-login" id="tab5">
                                <form action="/login">
                                  <div class="form-group">
                                    <label>Email</label>
                                    <input
                                      class="form-control"
                                      placeholder="Enter your email"
                                      type="text"
                                      id="email"
                                      value="mynamebvh@gmail.com"
                                    />
                                  </div>
                                  <div class="form-group">
                                    <label>Password</label>
                                    <input
                                      class="form-control"
                                      placeholder="Enter your password"
                                      type="password"
                                      id="password"
                                      value="Hoangbui23$"
                                    />
                                  </div>
                                  <button class="btn btn-primary btn-block">Sign In</button>
                                </form>
                              </div>
                              <div class="tab-pane" id="tab6">
                                <div id="mobile-num" class="wrap-input100 validate-input input-group mb-2">
                                  <a href="javascript:void(0);" class="input-group-text bg-white text-muted">
                                    <span>+91</span>
                                  </a>
                                  <input class="input100 form-control" type="mobile" placeholder="Mobile" />
                                </div>
                                <div id="login-otp" class="justify-content-around mb-4">
                                  <input
                                    class="form-control text-center me-2"
                                    id="txt1"
                                    maxlength="1"
                                    onkeyup="move(event, '', 'txt1', 'txt2')"
                                  />
                                  <input
                                    class="form-control text-center me-2"
                                    id="txt2"
                                    maxlength="1"
                                    onkeyup="move(event, 'txt1', 'txt2', 'txt3')"
                                  />
                                  <input
                                    class="form-control text-center me-2"
                                    id="txt3"
                                    maxlength="1"
                                    onkeyup="move(event, 'txt2', 'txt3', 'txt4')"
                                  />
                                  <input
                                    class="form-control text-center"
                                    id="txt4"
                                    maxlength="1"
                                    onkeyup="move(event, 'txt3', 'txt4', '')"
                                  />
                                </div>
                                <span>Note : Login with registered mobile number to generate OTP.</span>
                                <div class="container-login100-form-btn mt-3">
                                  <a href="javascript:void(0);" class="btn login100-form-btn btn-primary" id="generate-otp">
                                    Proceed
                                  </a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- JQuery min js -->
    <noscript><p>To display this page you need a browser that supports JavaScript.</p></noscript>
    <script src="/static/admin/plugins/jquery/jquery.min.js"></script>

    <!-- Bootstrap js -->
    <noscript><p>To display this page you need a browser that supports JavaScript.</p></noscript>
    <script src="/static/admin/plugins/bootstrap/js/popper.min.js"></script>

    <noscript><p>To display this page you need a browser that supports JavaScript.</p></noscript>
    <script src="/static/admin/plugins/bootstrap/js/bootstrap.min.js"></script>

    <!-- Ionicons js -->
    <noscript><p>To display this page you need a browser that supports JavaScript.</p></noscript>
    <script src="/static/admin/plugins/ionicons/ionicons.js"></script>

    <!-- Moment js -->
    <noscript><p>To display this page you need a browser that supports JavaScript.</p></noscript>
    <!-- <script src="/static/admin/plugins/moment/moment.js"></script> -->

    <!-- eva-icons js -->
    <noscript><p>To display this page you need a browser that supports JavaScript.</p></noscript>
    <script src="/static/admin/js/eva-icons.min.js"></script>

    <!--Internal  Perfect-scrollbar js -->
    <noscript><p>To display this page you need a browser that supports JavaScript.</p></noscript>

    <!-- Theme Color js -->
    <noscript><p>To display this page you need a browser that supports JavaScript.</p></noscript>
    <script src="/static/admin/js/themecolor.js"></script>

    <!-- custom js -->
    <noscript><p>To display this page you need a browser that supports JavaScript.</p></noscript>
    <script src="/static/admin/js/custom.js"></script>

    <!-- Switcher js -->

    <!-- <script src="/static/admin/switcher/js/switcher.js"></script> -->
    <div class="main-navbar-backdrop"></div>

    <script>
      document.querySelector('.form-login').addEventListener('submit', (e) => {
        e.preventDefault();

        const email = $('#email').val();
        const password = $('#password').val();

        fetch('/api/v1/auth/login', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({ email, password }),
        })
          .then((response) => response.json())
          .then((data) => {
            console.log(data.code);
            if (data.code == 200) window.location.href = '/admin/dashboard';
            else {
              alert('Tài khoản hoặc mật khẩu sai');
            }
          })
          .catch((error) => {
            alert('Tài khoản hoặc mật khẩu sai');
          });
      });
    </script>
  </body>
</html>
