<!-- Vendor JS -->
<script src="/static/client/js/vendor/jquery-3.5.1.min.js"></script>
<script src="/static/client/js/vendor/jquery.notify.min.js"></script>
<script src="/static/client/js/vendor/jquery.bundle.notify.min.js"></script>
<script src="/static/client/js/vendor/popper.min.js"></script>
<script src="/static/client/js/vendor/bootstrap.min.js"></script>
<script src="/static/client/js/vendor/jquery-migrate-3.3.0.min.js"></script>
<script src="/static/client/js/vendor/modernizr-3.11.2.min.js"></script>

<!--Plugins JS-->
<script src="/static/client/js/plugins/swiper-bundle.min.js"></script>
<script src="/static/client/js/plugins/countdownTimer.min.js"></script>
<script src="/static/client/js/plugins/scrollup.js"></script>
<script src="/static/client/js/plugins/jquery.zoom.min.js"></script>
<script src="/static/client/js/plugins/slick.min.js"></script>
<script src="/static/client/js/plugins/infiniteslidev2.js"></script>
<script src="/static/client/js/vendor/jquery.magnific-popup.min.js"></script>
<script src="/static/client/js/plugins/jquery.sticky-sidebar.js"></script>
<!-- Google translate Js -->
<!-- <script src="/static/client/js/vendor/google-translate.js"></script> -->
<!-- <script>
  function googleTranslateElementInit() {
    new google.translate.TranslateElement({ pageLanguage: 'en' }, 'google_translate_element');
  }
</script> -->
<!-- Main Js -->
<script src="/static/client/js/vendor/index.js"></script>
<script src="/static/client/js/main.js"></script>
<script src="/static/client/js/cart.js"></script>

<script>
  const resultSearch = document.querySelector('.result-search');
  const resultSearchMobi = document.querySelector('.result-search-mobi');


  document.getElementById('input-search').addEventListener('input', async ({ target }) => {
    const result = await (await fetch(`/s?text=${target.value}`)).json();

    let listSearch = '';
    if (result.length > 0) {
      result.forEach((p) => {
        listSearch += `<li>
          <a href=/product/${p.slug}>${p.name}</a>
          </li>`;
      });
      resultSearch.innerHTML = listSearch;
      resultSearch.style.display = 'block';
    }else {
      resultSearch.style.display = 'none';

    }
  });


  document.getElementById('input-search-mobi').addEventListener('input', async ({ target }) => {
    const result = await (await fetch(`/s?text=${target.value}`)).json();

    let listSearch = '';
    if (result.length > 0) {
      result.forEach((p) => {
        listSearch += `<li class="result-search-mobi">
          <a href=/product/${p.slug}>${p.name}</a>
          </li>`;
      });
      resultSearchMobi.innerHTML = listSearch;
      resultSearchMobi.style.display = 'block';
    }else {
      resultSearchMobi.style.display = 'none';

    }
  });

  const session = localStorage.getItem('techSession');
  if(session){
    document.querySelector(".dropdown-menu.dropdown-menu-right").innerHTML = `
    <li>
      <a class="dropdown-item" href="/profile">Trang cá nhân</a>
    </li>
    <li>
      <a class="dropdown-item"  id="logout" href="javascript:;">Đăng xuất</a>
    </li>
    `
  }

  document.getElementById("logout").addEventListener("click", (e) => {
    
    setTimeout(() => {
      localStorage.removeItem('techSession');

      window.location.href = '/logout';
    }, 200);
  })
</script>
