<!-- Ec breadcrumb start -->
<div class="sticky-header-next-sec ec-breadcrumb section-space-mb">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="row ec_breadcrumb_inner">
          <div class="col-md-6 col-sm-12">
            <h2 class="ec-breadcrumb-title">Shop</h2>
          </div>
          <div class="col-md-6 col-sm-12">
            <!-- ec-breadcrumb-list start -->
            <ul class="ec-breadcrumb-list">
              <li class="ec-breadcrumb-item"><a href="index.html">Home</a></li>
              <li class="ec-breadcrumb-item active">Shop</li>
            </ul>
            <!-- ec-breadcrumb-list end -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Ec breadcrumb end -->

<!-- Page detail section -->
<section class="ec-bnr-detail margin-bottom-30 section-space-pt">
  <div class="ec-page-detail">
    <div class="container">
      <div class="ec-main-heading d-none">
        <h2>Shop <span>Detail</span></h2>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="ec-cat-bnr">
            <a href="product-left-sidebar.html"><span></span></a>
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="ec-page-description">
            <h6>The Best deal on top brands</h6>
            <p class="m-0">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
              standard dummy text ever since the 1500s. It has survived not only five centuries, but also the leap into
              electronic typesetting, remaining essentially unchanged.
            </p>

            <p></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End detail section -->

<div class="ec-cart-float" style="display: none">
  <a href="#ec-side-cart" class="ec-header-btn ec-side-toggle">
    <div class="header-icon">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="512pt"
        viewBox="-35 0 512 512.00102"
        width="512pt"
        src="/static/client/images/icons/cart.svg"
        class="svg_img header_svg"
        alt="cart"
      >
        <path
          d="m443.054688 495.171875-38.914063-370.574219c-.816406-7.757812-7.355469-13.648437-15.15625-13.648437h-73.140625v-16.675781c0-51.980469-42.292969-94.273438-94.273438-94.273438-51.984374 0-94.277343 42.292969-94.277343 94.273438v16.675781h-73.140625c-7.800782 0-14.339844 5.890625-15.15625 13.648437l-38.9140628 370.574219c-.4492192 4.292969.9453128 8.578125 3.8320308 11.789063 2.890626 3.207031 7.007813 5.039062 11.324219 5.039062h412.65625c4.320313 0 8.4375-1.832031 11.324219-5.039062 2.894531-3.210938 4.285156-7.496094 3.835938-11.789063zm-285.285157-400.898437c0-35.175782 28.621094-63.796876 63.800781-63.796876 35.175782 0 63.796876 28.621094 63.796876 63.796876v16.675781h-127.597657zm-125.609375 387.25 35.714844-340.097657h59.417969v33.582031c0 8.414063 6.824219 15.238282 15.238281 15.238282s15.238281-6.824219 15.238281-15.238282v-33.582031h127.597657v33.582031c0 8.414063 6.824218 15.238282 15.238281 15.238282 8.414062 0 15.238281-6.824219 15.238281-15.238282v-33.582031h59.417969l35.714843 340.097657zm0 0"
        ></path>
      </svg>
    </div>
    <span class="ec-cart-count cart-count-lable">2</span>
  </a>
</div>
