<!DOCTYPE html>
<html lang="en">
  <%- include ("../components/head")%>

  <body>
    <%- include ("../components/header")%>

    <div class="sticky-header-next-sec ec-breadcrumb section-space-mb">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="row ec_breadcrumb_inner">
              <div class="col-md-6 col-sm-12">
                <h2 class="ec-breadcrumb-title">Quên mật khẩu</h2>
              </div>
              <div class="col-md-6 col-sm-12">
                <!-- ec-breadcrumb-list start -->
                <ul class="ec-breadcrumb-list">
                  <li class="ec-breadcrumb-item"><a href="/">Trang chủ</a></li>
                  <li class="ec-breadcrumb-item active">Quên mật khẩu</li>
                </ul>
                <!-- ec-breadcrumb-list end -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <section class="ec-page-content section-space-p">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <div class="section-title">
              <h2 class="ec-bg-title">Quên mật khẩu</h2>
              <h2 class="ec-title">Quên mật khẩu</h2>
              <p class="sub-title mb-3"></p>
            </div>
          </div>
          <div class="ec-login-wrapper">
            <div class="ec-login-container">
              <div class="ec-login-form">
                <form action="#" method="post" class="form-login">
                  <span class="ec-login-wrap">
                    <label>Email*</label>
                    <input id="email" type="text" name="name" placeholder="Nhập email" required="" value=""/>
                  </span>
                  <span class="ec-login-wrap ec-login-btn">
                    <button class="btn btn-primary" type="submit">Gửi mail</button>
                  </span>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <%- include ("../components/footer")%> <%- include ("../components/link_js")%>
    <script>
      document.querySelector('.form-login').addEventListener('submit', (e) => {
        e.preventDefault();

        const email = $('#email').val();

        fetch('/api/v1/auth/forgot-password', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({ email }),
        })
          .then((response) => response.json())
          .then((data) => {
            if (data.code == 200) {
              alert('Bạn vui lòng bấm vào đường dẫn trong email chúng tôi vừa gửi để lấy lại mật khẩu');
            }
            else {
              alert("Gửi thất bại")
            }
          })
          .catch((error) => {
            alert("Gửi thất bại")
          });
      });

    </script>
  </body>
</html>
